.services{
    background-color: darkgrey;
  
    text-align: center;

   
}

.service{
display: inline-block;
width:25%;
background-color: beige;


}

    p{
        color:teal;
       
    }
